# Project specific
**/openapi.json
**/SwaggerClient-PHP/
**/.swagger-codegen
**/.swagger-codegen-ignore
**/VERSION
**/php-client-generated.zip
# Laravel specific
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# General
.apdisk
.AppleDouble
.directory
.DS_Store
.fuse_hidden*
.LSOverride
.nfs*
.Trash-*
Icon
Network Trash Folder
Temporary Items
